<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<form  action="/play_song" method="POST" enctype="multipart/form-data">
  <div class="wrapper">
    <select id="audiofiles" size="18" class="selection" name = 'picked_song'>
      <%= all_audio_files(@audio_files) %>
    </select>
  </div>
  <input type="submit" id="load" value="Load And Play Song">
</form>
<div>
  <a id="sound_down" href="/sound_down"><i class="fa fa-minus"></i></a>

  <a id="sound_up" href="/sound_up"><i class="fa fa-plus"></i></a>
  <a id="play" href="/pause_song"><i class="fa fa-pause"></i><i class="fa fa-play"></i></a>
  <a id="pause" href="/stop_song"><i class="fa fa-stop"></i></a>
</div>
<div style="color:white; font-size: 26px; text-align: right;">
  TOTAL : <%= @size %> MB
</div>
