

<form action="/files" method="POST" enctype="multipart/form-data">
    <div class="wrapper">
      <select size="3" class="selection" name = 'picked_song'>
          <% @audio_files.each do |file|%>
          <option><%= file.id %> <%= file.original_title %></option>
          <% end %>
      </select>
    </div>
    <input type="submit" value="Play">
</form>


<a href="/pause_song">Pause</a>
<a href="/stop_song">Stop</a>
