<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<form action="/register_raspberry" method="POST" enctype="/">
  <div> HOST: <%= @raspberry.host %></div>
  <div> USER: <%= @raspberry.name %></div>

</form>
<div id="blank">

</div>
