<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload Image</h1>

        <form action="/file" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload song">
        </form>
    </body>
</html>
