
<h1>Register</h1>

<form method="POST" action="/new">

  <label for="email">email</label>
  <input type="text" name="email" />
  <label for="password">Password</label>
  <input type="password" name="password" />

  <input type="submit" />

</form>

<h1>Login</h1>

<form method="POST" action="/login">

  <label for="email">email</label>
  <input type="text" name="email" />
  <label for="password">Password</label>
  <input type="password" name="password" />

  <input type="submit" />

</form>
