<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RubyPlay</title>
  <link rel="stylesheet" type="text/css" href="<%= url('css/style.css') %>">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body id="body">
  <header>
        <img src="<%= url('RubyPlay-dots.png') %>" class="col-xs-2 col-md-2"><!-- -->
        <div class ="search-log col-xs-14 col-md-10">
            <form class="col-xs-12 col-md-9 rowed " action="/search" method="POST" enctype="/">
            <input class ="form-control" type="text" name="search" placeholder="Search here..." /><!--
             --><input type="submit" value="🔎" class="search-ascii" >
          </form>
          <div class="login-logout col-xs-4 col-md-3 rowed">
            <p><%= @user.email %></p>
            <p><a href="/logout">Logout</a></p>
          </div>
        </div>
  </header>
  <section class = "main rowed">


      <div id="upload" class="rowed">
      <form action="/file" method="POST" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit" value="Upload song">
      </form>
    </div>
      <nav>
      <ul id="navigation" class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="/now_playing">Now Playing</a></li>
        <li role="presentation"><a href="/playlists">Playlists</a></li>
        <li role="presentation"><a href="/make_playlist">Make Playlist</a></li>
        <li role="presentation"><a href="/all">All Audio Files</a></li>
        <li role="presentation"><a href="/register_raspberry">Register Raspberry</a></li>
      </ul>
    </nav>

    <section id="songs">
       <%= yield %>
    </section>

  </section>
  <footer>
    <div>
      Някакви глупости тук...
    </div>
  </footer>
</body>
</html>





