<p>Logged as: <%= @user.email %></p>
<form action="/make_playlist" method="POST" enctype="/">
    <div class="wrapper">
      <select multiple size="3" class="selection" name = 'picked_songs[]'>
          <% @audio_files.each do |file|%>
          <option value = <%= file.id %>><%= file.id %> <%= file.original_title %></option>
          <% end %>
      </select>
    </div>
    <label for="name">name of the playlist</label>
    <input type="text" name="name" />
    <input type="submit" value="Load">
</form>
