<form action="/files" method="POST" enctype="multipart/form-data">
    <input type="text" name="id">

    <input type="submit" value="id of a song">
</form>

<form action="/play_song" method="POST" enctype="multipart/form-data">
    <input type="text" name="action">
    <input type="submit" value="do it!">
</form>
