<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<form action="/playlists" method="POST" enctype="multipart/form-data">
  <div class="wrapper">
    <select id="audiofiles" size="3" class="selection" name = 'picked_playlist'>
        <% @playlists.each do |playlist| %>
        <option value = <%= playlist.id %>><%= playlist.name %></option>
        <% end %>
    </select>
  </div>
  <input type="submit" id="load" value="Play playlist">
</form>
<div id="blank">

</div>