<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<form action="/register_raspberry" method="POST" enctype="/">
  <label for="name">Host:</label>
  <input type="text" name="host" />
  <label for="user">User:</label>
  <input type="text" name="user" />
  <label for="password">Password:</label>
  <input type="text" name="password" />
  <input type="submit" value="Make playlist">
</form>
<div id="blank">

</div>