<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RubyPlay</title>
</head>
<body>
  <header>
  <p>Logged as: <%= @user.email %></p>
  <p><a href="/logout">Logout</a></p>
  </header>
  <nav>
    <a href="/files">Audio Files</a>
    <a href="/playlists">Playlists</a>
    <a href="/make_playlist">Make Playlist</a>
  </nav>
</body>
</html>
